<article class="post border border-warning mx-5 my-3 home-post">
  <div class="title bg-warning text-center">
    <a href="/post/{{id}}" class="home-post-titles">{{title}}</a>
  </div>
  <div class="meta">
    By {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>

<script></script>